.nav{
    border: 3px solid black;
    height: 125px;
    width: 1500px;
    background-color: aqua;
    margin-bottom: 5px;
}
 .rr h1{
    border: 2px solid black;
    width: 550px;
    display: inline;
    padding: 5px;
    background-color:grey;
    margin-right: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.rv{
    border: 2px solid black;
    width: 1500px;
    height:600px ;
    display: inline-block;
    margin-top: 5px;
}
:target{
    background-color: grey ;
    position: absolute;
    top: 200px;
}
.rv {
    background-color: antiquewhite;
    height: 1500px;
    width: 1500px ;
    
}
a{
    text-decoration: none;
}